@page "/admin/events"
@attribute [Authorize(Policy = Policy.Events)]
@inject HttpClient Http
@inject NavigationManager NavigationManager

<MudContainer MaxWidth="MaxWidth.Large" Class="mt-16">
    <MudText Typo="Typo.h3" GutterBottom="true">Admin events</MudText>

    @if (displayedEvents == null)
    {
        <MudProgressCircular Color="Color.Default" Indeterminate="true" />
    }
    else
    {
        <MudPaper Class="d-flex justify-space-between" Elevation="0">
            <MudTextField Class="ma-4" @bind-Value="searchString" Placeholder="Search" Immediate="true" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium"></MudTextField>
            <MudSelect @bind-Value="searchType" Label="Filter EventType" Class=" ma-4">
                @foreach (var type in types)
                    {
                    <MudSelectItem Value="@type" />
                    }
            </MudSelect>
        </MudPaper>
        <MudTable Items="@displayedEvents" Filter="new Func<EventListDTO, bool>(FilterFunc)" OnRowClick="@((TableRowClickEventArgs<EventListDTO> e)=>Navigate(e))" T="EventListDTO" Hover="true" Dense="true">
            <HeaderContent>
                <MudTh>Date</MudTh>
                <MudTh>Name</MudTh>
                <MudTh>Place</MudTh>
                <MudTh>Type</MudTh>
                <MudTh>Deadlines</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Date">@GetDate(context.StartDate, context.EndDate)</MudTd>
                <MudTd DataLabel="Name">@context.Name</MudTd>
                <MudTd DataLabel="Place">@context.Place</MudTd>
                <MudTd DataLabel="Type">@context.EventType</MudTd>
                <MudTd DataLabel="Deadlines">@GetDeadlines(context.Deadlines)</MudTd>
            </RowTemplate>
        </MudTable>

        <MudButton Class="mt-4" ButtonType="ButtonType.Button" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" OnClick="Navigate">Event</MudButton>

        <div style="float:right;" class="mt-2">
            <MudToggleIconButton Toggled="@includeArchivedEvents"
                                 ToggledChanged="(toggleValue) => ArchivedOptionChanged(toggleValue)"
                                 Icon="@Icons.Material.Filled.Block"
                                 ToggledIcon="@Icons.Custom.Uncategorized.AlertSuccess"
                                 ToggledColor="@Color.Success" />

            Archived events @(includeArchivedEvents ? "included" : "excluded")
        </div>
    }
</MudContainer>

@code {
    private EventListDTO[] events;
    private EventListDTO[] displayedEvents;
    private List<string> types = Enum.GetNames(typeof(EventType)).Prepend("All").ToList();
    private string searchType = "All";
    private string searchString = "";
    private bool includeArchivedEvents = false;

    protected override async Task OnInitializedAsync()
    {
        events = await Http.GetFromJsonAsync<EventListDTO[]>($"Events");

        DisplayNotArchivedEvents();
    }

    public void ArchivedOptionChanged(bool toggleValue)
    {
        includeArchivedEvents = toggleValue;
        if (includeArchivedEvents)
        {
            DisplayAllEvents();
        }
        else
        {
            DisplayNotArchivedEvents();
        }
    }

    private void DisplayAllEvents()
    {
        displayedEvents = events;
    }

    private void DisplayNotArchivedEvents()
    {
        displayedEvents = events.Where(e => e.EventState != EventState.Archived).ToArray();
    }

    bool FilterFunc(EventListDTO e)
    {
        if (searchString == null) searchString = "";
        var eventData = $"{GetDate(e.StartDate, e.EndDate)} {e.Name} {e.Place} {e.EventType} {GetDeadlines(e.Deadlines)}";
        var eventType = e.EventType.ToString();

        return (searchType == "All" || eventType.Contains(searchType)) && eventData.Contains(searchString, StringComparison.InvariantCultureIgnoreCase);
    }

    private static string GetDate(DateTime start, DateTime end)
    {
        return (start.Equals(end)) ? end.ToString("dd.MM.yyyy") : start.ToString("dd.") + '-' + end.ToString("dd.MM.yyyy");
    }

    private static string GetDeadlines(ICollection<EventDeadline> deadlines)
    {
        return (deadlines.Count != 0) ? deadlines.Select(d => d.Deadline.ToString("dd.MM.yyyy")).Aggregate((a, b) => a + ", " + b) : "";
    }

    private void Navigate()
    {
        NavigationManager.NavigateTo($"/admin/events/edit");
    }

    private void Navigate(TableRowClickEventArgs<EventListDTO> obj)
    {
        Console.WriteLine(obj.Item.Id);
        NavigationManager.NavigateTo($"/admin/events/edit/{obj.Item.Id}");
    }

}